html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* img {
    pointer-events: none;
} */

body {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #021531;
    overflow-x: hidden;
}

/********************************************************
                        header
********************************************************/
header {
    position: relative;
    z-index: 99;
}

header #header-wrap {
    height: 90px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    position: fixed;
    background-color: #021531;
    border-bottom: 1px solid rgb(255, 255, 255);
}


/* nav */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo img {
    width: 80px;
    margin-left: 140px;
}

.menu {
    display: flex;
    padding-left: 0;
    margin-right: 140px;
}

.menu>li>a {
    color: #fff;
    font-family: 'NanumSquare';
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    padding: 8px 30px;
    text-decoration: none;

    transition: all 0.4s;
}

/* 내비게이션 마우스 오버 시 */
.menu>li>a:hover,
.menu>li>a:focus,
.menu>li>a.on {
    color: #E84191;
    text-decoration: none;
}


/********************************************************
                    main section
********************************************************/

#section-wrap {
    position: relative;
    width: 100%;
    height: 700px;
    top: 110px;
    left: 0;
}

#section-wrap #community {
    position: absolute;
    width: 86%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.animation span {
    font-weight: bold;
    display: inline-block;
}

/********************************************************
                title-text Animation
********************************************************/

.title-text {
    position: relative;
    width: 300px;
    margin-top: 100px;

    color: #E84191;
    font-family: 'Cafe24Ssurround';
    font-size: 45px;
    padding-bottom: 9px;
}

.title-text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.title-text:hover::after {
    width: 330px;
}

.title-text span {
    opacity: 0;
    margin-right: -8px;
    transform: translate(-100px, 0) rotate(0deg);
    animation: community-text .5s forwards;
}


.title-text span:nth-of-type(1) {
    animation-delay: .2s;
}

.title-text span:nth-of-type(2) {
    animation-delay: .55s;
}

.title-text span:nth-of-type(3) {
    animation-delay: .95s;
}

.title-text span:nth-of-type(4) {
    animation-delay: 1.35s;
}


@keyframes community-text {
    0% {
        color: #F0EA76;
        opacity: 0;
        transform: translate(-100px, 0) rotate(0deg);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0) rotate(360deg);
    }
}

/********************************************************
                    post Animation
********************************************************/
/* 게시글 작성 */
.post {
    position: relative;
    width: 100%;
    height: auto;
    top: 300px;

    color: #fff;
    font-family: 'Cafe24Ssurround';
    font-size: 45px;
    /* background-color: #fff; */
}

/* 배너 */
.post .banner {
    position: absolute;
    width: 86%;
    height: 300px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    border: solid 2px #fff;
    opacity: 0;
    animation: banner 1.2s forwards;
}

.post .banner {
    animation-delay: 4.25s;
}

/* 아아 내 목소리 들려? h1태그 */
.post .communication {
    font-family: 'NanumSquare';
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    opacity: 0;
    transform: translate(0, 0);
    animation: communication 2s forwards;
}

.post .communication:nth-of-type(1) {
    animation-delay: 5s;
}

.post .communication:nth-of-type(2) {
    animation-delay: 6.5s;
}


.mic-setting {
    position: absolute;
    /* width: 86%; */
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

/* 마이크 이미지 */
.post .mic-img {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.mic-img img {
    width: 150px;
    opacity: 0;
    animation: mic-img 1s forwards;
}

.mic-img img:nth-of-type(1) {
    animation-delay: 3.65s;
}


/* 마이크테스트 span */
.mic-setting span {
    opacity: 0;
    margin-top: 50px;
    margin-right: -8px;
    font-size: 80px;
    transform: translate(0, 0) scale(1);
    animation: mic .7s forwards;
}

/* 마이크 테스트 애니메이션 딜레이 */
.mic-setting span:nth-of-type(1) {
    animation-delay: 2s;
}

.mic-setting span:nth-of-type(2) {
    animation-delay: 2.25s;
}

.mic-setting span:nth-of-type(3) {
    animation-delay: 2.45s;
}

.mic-setting span:nth-of-type(4) {
    animation-delay: 2.65s;
}

.mic-setting span:nth-of-type(5) {
    animation-delay: 2.85s;
}

.mic-setting span:nth-of-type(6) {
    animation-delay: 3.05s;
}


/********************************************************
        h1 / banner / mic-setting 애니메이션 키프레임
********************************************************/
@keyframes communication {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    50% {
        transform: translate(0, -100px);
        opacity: 1;
    }

    100% {
        transform: translate(0, -120px);
        opacity: 0;
    }
}


@keyframes banner {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0.8;
    }

    60% {

        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


@keyframes mic {
    0% {
        transform: translate(0, 0) scale(.5);
        opacity: 1;
        color: #fff;
    }

    70% {
        transform: translate(0) scale(1);
        opacity: 1;
        color: #F8B40D;
    }

    100% {
        transform: translate(0) scale(1);
        opacity: 0;
        color: #ffffff;
    }
}


@keyframes mic-img {
    20% {
        transform: scale(1) rotate(40deg);
        opacity: 1;
    }

    50% {
        transform: scale(1) rotate(-40deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
        opacity: 0;
    }
}

/********************************************************
                        post wrap
********************************************************/
.post-wrap {
    position: relative;
    width: 100%;
    height: auto;
    top: 640px;

}

.post-wrap .explanation {
    position: absolute;
    width: 86%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'NanumSquare';
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
}

.explanation p {
    opacity: 0;
    transform: translate(0, 0);
    animation: explanation 1.2s forwards;
}

.explanation p:nth-of-type(1) {
    animation-delay: 8s;
}


@keyframes explanation {
    0% {
        transform: translate(0, -120px);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

/********************************************************
                        section2
********************************************************/

#section-wrap2 {
    position: relative;
    width: 100%;
    height: 1200px;
    left: 0;
}

#write {
    position: absolute;
    width: 86%;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
}

textarea {
    margin-top: 200px;
    width: 100%;
    padding: 10px 0 10px 0;
    border-radius: 6px;
    border: 2px solid #ffffffd7;
    transition: border-color 0.2s;

    font-family: 'NanumSquare';
    font-size: 18px;
    color: #f9f9f9;
    background: none;
}

#section-wrap2 textarea:focus {
    border-color: #E84191;
}

input {
    font-size: 16px;
    color: #f9f9f9;
    background: transparent;

    padding: 10px 0 10px 0;
}

.btn {
    position: absolute;
    width: 170px;
    height: 48px;
    top: 830px;
    left: 50%;
    transform: translateX(-50%);

    color: #021531;
    font-family: 'NanumSquare';
    font-weight: 600;
    font-size: 18px;
    background-color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color .15s ease-in;
}

.btn a {
    color: #021531;
    text-decoration: none;
}

.btn a:hover {
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    color: #fff;
    border: 2px solid #fff;
    background-color: #021531;
    border-radius: 30px;
}


/********************************************************
                        footer
********************************************************/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #021531;
}

#footer-box {
    height: 100%;
    text-align: center;
}

#address {
    font-family: 'NanumSquareLight';
    font-weight: 500;
    color: #fff;
    margin: 0;
    padding: 25px 0 0 0;
    border-top: solid 1px #fff;
}

#address li {
    font-size: 14px;
    line-height: 1.5;
}

#address li span {
    margin-left: 10px;
}












/********************************************************
                    반응형 (min-width: 390px)
********************************************************/
@media all and (min-width: 390px) {

    /* 커뮤니티 타이틀 */
    .title-text {
        font-size: 35px;
    }

    .title-text:hover::after {
        width: 240px;
    }

    /* 배너 */
    .post .banner {
        width: 100%;
        border-radius: 0;
        border: solid 2px #fff;
    }

    .post-wrap .explanation {
        font-size: 16px;
    }

    /* 마이크테스트 텍스트 사이즈 */
    .mic-setting span {
        font-size: 38px;
    }

    /* 마이크 이미지 */
    .mic-img img {
        width: 100px;
    }

    /* 아아 내 목소리 들려? h1태그 */
    .post .communication {
        font-size: 18px;
    }

    /* 게시글 올리기 버튼 */
    .btn {
        width: 160px;
        height: 40px;
        top: 900px;
        font-size: 16px;
        border-radius: 30px;
    }
}


/********************************************************
                    반응형 (min-width: 768px)
********************************************************/
@media all and (min-width: 768px) {

    /* 커뮤니티 타이틀 */
    .title-text {
        font-size: 40px;
    }

    .title-text:hover::after {
        width: 300px;
    }

    /* 배너 */
    .post .banner {
        width: 100%;
        border-radius: 0;
        border: solid 2px #fff;
    }

    .post-wrap .explanation {
        font-size: 18px;
    }

    /* 마이크테스트 텍스트 사이즈 */
    .mic-setting span {
        font-size: 60px;
    }

    /* 마이크 이미지 */
    .mic-img img {
        width: 120px;
    }

    /* 아아 내 목소리 들려? h1태그 */
    .post .communication {
        font-size: 24px;
    }

    /* 게시글 올리기 버튼 */
    .btn {
        width: 170px;
        height: 48px;
        top: 860px;
        font-size: 18px;
        border-radius: 30px;
    }
}


/********************************************************
                    반응형 (min-width: 1280px)
********************************************************/
@media all and (min-width: 1280px) {

    /* 커뮤니티 타이틀 */
    .title-text {
        font-size: 45px;
    }

    .title-text:hover::after {
        width: 330px;
    }

    /* 배너 */
    .post .banner {
        width: 86%;
        border-radius: 30px;
        border: solid 2px #fff;
    }

    .post-wrap .explanation {
        font-size: 20px;
    }

    /* 마이크테스트 텍스트 사이즈 */
    .mic-setting span {
        font-size: 80px;
    }

    /* 마이크 이미지 */
    .mic-img img {
        width: 150px;
    }

    /* 아아 내 목소리 들려? h1태그 */
    .post .communication {
        font-size: 30px;
    }

    /* 게시글 올리기 버튼 */
    .btn {
        width: 170px;
        height: 48px;
        top: 830px;
        font-size: 18px;
        border-radius: 30px;
    }
}





















/********************************************************
                        font
********************************************************/

/* 나눔스퀘어 */
/* font-family: 'NanumSquare';
font-family: 'NanumSquareLight';
font-family: 'NanumSquareExtraBold';
font-family: 'NanumSquareBold';
font-family: 'NanumSquareAcR';
font-family: 'NanumSquareAcL';
font-family: 'NanumSquareAcEB';
font-family: 'NanumSquareAcB'; */


/* 카페써라운드 */
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}